# Traefik route config for test
http:
  routers:
    test-router:
      rule: "Host(`test.${domain}`)"
      service: test-service
  services:
    test-service:
      loadBalancer:
        servers:
          - url: "http://${hosts.elk.ip}:${hosts.elk.ports.elasticsearch}"
