http:
  routers:
    glitchtip:
      rule: Host(`glitchtip.${domain}`)
      entryPoints:
        - websecure
      service: glitchtip
      middlewares:
        - rate-limit-standard@file
      tls:
        certResolver: cf
      priority: 10

  services:
    glitchtip:
      loadBalancer:
        servers:
          - url: http://${hosts.glitchtip.ip}:${hosts.glitchtip.ports.web}
