http:
  routers:
    grafana:
      rule: Host(`grafana.${domain}`)
      entryPoints:
        - websecure
      service: grafana
      middlewares:
        - rate-limit-standard@file
      tls:
        certResolver: cf
      priority: 10

  services:
    grafana:
      loadBalancer:
        servers:
          - url: http://${hosts.grafana.ip}:${hosts.grafana.ports.grafana}
