http:
  routers:
    mcphub:
      rule: "Host(`mcphub.${domain}`)"
      entryPoints:
        - websecure
      service: mcphub
      middlewares:
        - rate-limit-api@file
      tls:
        certResolver: cf
      priority: 10

    mcphub-http:
      rule: "Host(`mcphub.${domain}`)"
      entryPoints:
        - web
      service: mcphub
      priority: 10

  services:
    mcphub:
      loadBalancer:
        servers:
          - url: "http://${hosts.mcphub.ip}:${hosts.mcphub.ports.web}"
