http:
  routers:
    minio:
      rule: Host(`minio.${domain}`)
      entryPoints:
        - websecure
      service: minio
      middlewares:
        - registry-allowlist@file
        - rate-limit-relaxed@file
      tls:
        certResolver: cf
      priority: 10

    minio-http:
      rule: Host(`minio.${domain}`)
      entryPoints:
        - web
      service: minio
      middlewares:
        - registry-allowlist@file
        - rate-limit-relaxed@file
      priority: 10

  services:
    minio:
      loadBalancer:
        servers:
          - url: http://${hosts.synology.ip}:${hosts.synology.ports.minio_console}
