http:
  routers:
    n8n:
      rule: Host(`n8n.${domain}`)
      entryPoints:
        - web
        - websecure
      service: n8n
      middlewares:
        - rate-limit-api@file
      tls:
        certResolver: cf
      priority: 10

  services:
    n8n:
      loadBalancer:
        servers:
          - url: http://${hosts.mcphub.ip}:${hosts.mcphub.ports.n8n}
