http:
  routers:
    nas:
      rule: Host(`nas.${domain}`)
      entryPoints:
        - websecure
      service: nas
      middlewares:
        - rate-limit-relaxed@file
      tls:
        certResolver: cf
      priority: 10

  services:
    nas:
      loadBalancer:
        serversTransport: nas-transport
        servers:
          - url: https://${hosts.synology.ip}:${hosts.synology.ports.dsm_https}

  serversTransports:
    nas-transport:
      insecureSkipVerify: true
