http:
  routers:
    registry:
      rule: Host(`registry.${domain}`)
      entryPoints:
        - websecure
      service: registry
      middlewares:
        - registry-allowlist@file
        - rate-limit-relaxed@file
      tls:
        certResolver: cf
      priority: 10

    registry-http:
      rule: Host(`registry.${domain}`)
      entryPoints:
        - web
      service: registry
      middlewares:
        - registry-allowlist@file
      priority: 10

  services:
    registry:
      loadBalancer:
        servers:
          - url: http://${hosts.synology.ip}:${hosts.synology.ports.registry}
