http:
  routers:
    supabase:
      rule: Host(`supabase.${domain}`)
      entryPoints:
        - websecure
      service: supabase
      tls:
        certResolver: cf
      priority: 10

  services:
    supabase:
      loadBalancer:
        servers:
          - url: http://${hosts.supabase.ip}:${hosts.supabase.ports.api}
