http:
  routers:
    vault:
      rule: Host(`vault.${domain}`)
      entryPoints:
        - websecure
      service: vault
      tls:
        certResolver: cf
      priority: 10

  services:
    vault:
      loadBalancer:
        servers:
          - url: http://${hosts.mcphub.ip}:${hosts.mcphub.ports.vault}
