DJANGO_SECRET_KEY=${glitchtip_django_secret_key}
SECRET_KEY=${glitchtip_django_secret_key}
PORT=${glitchtip_port}
DATABASE_URL=postgres://glitchtip:${glitchtip_postgres_password}@postgres:5432/glitchtip
REDIS_URL=redis://:${glitchtip_redis_password}@redis:6379/0
EMAIL_URL=smtp://localhost:25
DEFAULT_FROM_EMAIL=glitchtip@${domain}
GLITCHTIP_DOMAIN=https://glitchtip.${domain}
ENABLE_USER_REGISTRATION=false
